data/davidson_offensive.csv filter=lfs diff=lfs merge=lfs -text
data/jigsaw_toxic_test.csv filter=lfs diff=lfs merge=lfs -text
data/jigsaw_toxic_test_labels.csv filter=lfs diff=lfs merge=lfs -text
data/jigsaw_toxic_train.csv filter=lfs diff=lfs merge=lfs -text
data/cyberbullying_dataset.csv filter=lfs diff=lfs merge=lfs -text
data/semeval_sentiment_test.tsv filter=lfs diff=lfs merge=lfs -text
data/semeval_sentiment_train.tsv filter=lfs diff=lfs merge=lfs -text
data/MFTC_V4_text_parsed.tsv filter=lfs diff=lfs merge=lfs -text
data/Wamateur_expert.json filter=lfs diff=lfs merge=lfs -text
data/waseem_hovy.json filter=lfs diff=lfs merge=lfs -text
data/semeval_sentiment_twitter-2016train-A.tsv filter=lfs diff=lfs merge=lfs -text
data/wulczyn_dev.tsv filter=lfs diff=lfs merge=lfs -text
data/wulczyn_test.tsv filter=lfs diff=lfs merge=lfs -text
data/wulczyn_train.tsv filter=lfs diff=lfs merge=lfs -text
data/oraby_fact_feel_train.tsv filter=lfs diff=lfs merge=lfs -text
data/oraby_sarcasm.csv filter=lfs diff=lfs merge=lfs -text
data/oraby_fact_feel_dev.tsv filter=lfs diff=lfs merge=lfs -text
data/oraby_fact_feel_test.tsv filter=lfs diff=lfs merge=lfs -text
data/preotiuc_users.tsv filter=lfs diff=lfs merge=lfs -text
data/json/garcia_dev.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_dev.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_hovy_dev.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_train.json filter=lfs diff=lfs merge=lfs -text
data/json/davidson_dev.json filter=lfs diff=lfs merge=lfs -text
data/json/garcia_test.json filter=lfs diff=lfs merge=lfs -text
data/json/davidson_train.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_hovy_train.json filter=lfs diff=lfs merge=lfs -text
data/json/garcia_train.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_test.json filter=lfs diff=lfs merge=lfs -text
data/json/wulczyn_test.json filter=lfs diff=lfs merge=lfs -text
data/json/davidson_test.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_hovy_test.json filter=lfs diff=lfs merge=lfs -text
data/json/wulczyn_dev.json filter=lfs diff=lfs merge=lfs -text
data/json/wulczyn_train.json filter=lfs diff=lfs merge=lfs -text
data/liwc-2015.csv filter=lfs diff=lfs merge=lfs -text
data/json/garcia_binary_dev.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_binary_test.json filter=lfs diff=lfs merge=lfs -text
data/json/wulczyn_binary_test.json filter=lfs diff=lfs merge=lfs -text
data/json/davidson_binary_dev.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_hovy_binary_train.json filter=lfs diff=lfs merge=lfs -text
data/json/wulczyn_binary_train.json filter=lfs diff=lfs merge=lfs -text
data/json/davidson_binary_test.json filter=lfs diff=lfs merge=lfs -text
data/json/davidson_binary_train.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_binary_dev.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_binary_train.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_hovy_binary_test.json filter=lfs diff=lfs merge=lfs -text
data/json/garcia_binary_test.json filter=lfs diff=lfs merge=lfs -text
data/json/garcia_binary_train.json filter=lfs diff=lfs merge=lfs -text
data/json/waseem_hovy_binary_dev.json filter=lfs diff=lfs merge=lfs -text
data/json/wulczyn_binary_dev.json filter=lfs diff=lfs merge=lfs -text
